
@font-face{
	font-family: 'Avenir';
	src:url('avenir.otf');
}

$font-stack: Avenir;

* {
	font-size:16px;
}

#theme {
		
	width:auto;
	border-radius:50%;
	transform: rotate(-50deg);
}

h2 {
	span{
		font: 40px $font-stack;
		height:600px;
		position:absolute;
		width:20px;
		left:0px;
		top:50px;
		transform-origin: bottom center;	
		font-weight:bold;	
	}
}

#page-wrap {
	width: 100vw;
	height: 100vh;
	transform: rotate(-39.5deg);
}

.char1 {transform: rotate(78deg);}
.char2 {transform: rotate(80deg);}
.char3 {transform: rotate(82deg);}
.char4 {transform: rotate(84deg);}
.char5 {transform: rotate(86deg);}
.char6 {transform: rotate(88deg);}
.char7 {transform: rotate(90deg);}
.char8 {transform: rotate(92deg);}
.char9 {transform: rotate(94deg);}
.char10 {transform: rotate(96deg);}
.char11 {transform: rotate(98deg);}
.char12 {transform: rotate(100deg);}
.char13 {transform: rotate(102deg);}
.char14 {transform: rotate(104deg);}
