body {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir.ttf"); }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Light.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Bold.otf");
  font-weight: 700;
  font-style: normal; }
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff8e7;
  text-align: center;
  font-family: Avenir;
  overflow: hidden; }
  .wrapper #presents {
    padding-top: 25vh;
    font-size: 20px;
    font-family: "Avenir", sans-serif; }
    .wrapper #presents #wild {
      color: #9fc9eb; }
    .wrapper #presents #hacks {
      color: #cb9ac6; }
    .wrapper #presents #year {
      color: #ffd05b; }
    .wrapper #presents #pres {
      color: #70c9c0; }
  .wrapper .build-your-own {
    position: absolute;
    left: 50%;
    top: 26vh;
    font-size: 38px;
    font-family: "FiraCode-Regular", monospace; }
    .wrapper .build-your-own span {
      height: 300px;
      position: absolute;
      width: 20px;
      left: 0px;
      top: 50px;
      transform-origin: bottom center; }
    .wrapper .build-your-own .char1 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char2 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char3 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char4 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char5 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char7 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char8 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char9 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char10 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char12 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char13 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char14 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char1 {
      transform: rotate(-34.14286deg); }
    .wrapper .build-your-own .char2 {
      transform: rotate(-28.78571deg); }
    .wrapper .build-your-own .char3 {
      transform: rotate(-23.42857deg); }
    .wrapper .build-your-own .char4 {
      transform: rotate(-18.07143deg); }
    .wrapper .build-your-own .char5 {
      transform: rotate(-12.71429deg); }
    .wrapper .build-your-own .char6 {
      transform: rotate(-7.35714deg); }
    .wrapper .build-your-own .char7 {
      transform: rotate(-2deg); }
    .wrapper .build-your-own .char8 {
      transform: rotate(3.35714deg); }
    .wrapper .build-your-own .char9 {
      transform: rotate(8.71429deg); }
    .wrapper .build-your-own .char10 {
      transform: rotate(14.07143deg); }
    .wrapper .build-your-own .char11 {
      transform: rotate(19.42857deg); }
    .wrapper .build-your-own .char12 {
      transform: rotate(24.78571deg); }
    .wrapper .build-your-own .char13 {
      transform: rotate(30.14286deg); }
    .wrapper .build-your-own .char14 {
      transform: rotate(35.5deg); }
  .wrapper #hackathon {
    color: #f16667;
    padding-top: 3vh;
    font-size: 6.5em;
    font-weight: 900; }

.images {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute; }
  .images svg {
    height: 60px;
    width: auto; }
  .images .green {
    fill: #70c9c0; }
  .images .purple {
    fill: #cb9ac6; }
  .images .yellow {
    fill: #ffd05b; }
  .images .orange {
    fill: #f79868; }
  .images .red {
    fill: #f16667; }
  .images .blue {
    fill: #9fc9eb; }

/*# sourceMappingURL=styles.css.map */
