body {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir.ttf"); }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Light.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Bold.otf");
  font-weight: 700;
  font-style: normal; }
.wrapper {
  width: 100vw;
  text-align: center;
  font-family: Avenir;
  position: absolute;
  top: 25%; }
  .wrapper #presents {
    font-size: 20px;
    font-family: "Avenir", sans-serif; }
    .wrapper #presents #wild {
      color: #9fc9eb; }
    .wrapper #presents #hacks {
      color: #cb9ac6; }
    .wrapper #presents #year {
      color: #ffd05b; }
    .wrapper #presents #pres {
      color: #70c9c0; }
  .wrapper .build-your-own {
    position: absolute;
    left: 50%;
    top: -5%;
    font-size: 40px;
    font-family: "FiraCode-Regular", monospace; }
    .wrapper .build-your-own span {
      height: 300px;
      position: absolute;
      width: 20px;
      left: 0px;
      top: 50px;
      transform-origin: bottom center; }
    .wrapper .build-your-own .char1 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char2 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char3 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char4 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char5 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char7 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char8 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char9 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char10 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char12 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char13 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char14 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char1 {
      transform: rotate(-41.57143deg); }
    .wrapper .build-your-own .char2 {
      transform: rotate(-35.14286deg); }
    .wrapper .build-your-own .char3 {
      transform: rotate(-28.71429deg); }
    .wrapper .build-your-own .char4 {
      transform: rotate(-22.28571deg); }
    .wrapper .build-your-own .char5 {
      transform: rotate(-15.85714deg); }
    .wrapper .build-your-own .char6 {
      transform: rotate(-9.42857deg); }
    .wrapper .build-your-own .char7 {
      transform: rotate(-3deg); }
    .wrapper .build-your-own .char8 {
      transform: rotate(3.42857deg); }
    .wrapper .build-your-own .char9 {
      transform: rotate(9.85714deg); }
    .wrapper .build-your-own .char10 {
      transform: rotate(16.28571deg); }
    .wrapper .build-your-own .char11 {
      transform: rotate(22.71429deg); }
    .wrapper .build-your-own .char12 {
      transform: rotate(29.14286deg); }
    .wrapper .build-your-own .char13 {
      transform: rotate(35.57143deg); }
    .wrapper .build-your-own .char14 {
      transform: rotate(42deg); }

#hackathon {
  color: #f16667;
  font-size: 6.5em;
  font-weight: 900;
  position: relative;
  top: 5px;
  left: -12px; }

/*# sourceMappingURL=stylesheet.css.map */
