body {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Avenir";
  src: url("../../fonts/Avenir.ttf"); }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Light.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "FiraCode";
  src: url("../../fonts/FiraCode-Bold.otf");
  font-weight: 700;
  font-style: normal; }
.logo {
  position: absolute; }
  .logo img {
    width: 100px;
    padding-left: 50px;
    padding-top: 40px; }

.wrapper {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  overflow: hidden;
  font-family: "Avenir", sans-serif;
  z-index: 9; }
  .wrapper #presents {
    padding-top: 15vh;
    font-size: 1.5rem;
    font-weight: 700; }
    .wrapper #presents #wild {
      color: #9fc9eb; }
    .wrapper #presents #hacks {
      color: #cb9ac6; }
    .wrapper #presents #year {
      color: #ffd05b; }
    .wrapper #presents #pres {
      color: #70c9c0; }
  .wrapper .build-your-own {
    position: absolute;
    left: 49%;
    top: 15vh;
    font-size: 3rem;
    font-family: "FiraCode-Regular", monospace; }
    .wrapper .build-your-own span {
      height: 400px;
      position: absolute;
      width: 20px;
      left: 0px;
      top: 50px;
      transform-origin: bottom center; }
    .wrapper .build-your-own .char1 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char2 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char3 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char4 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char5 {
      color: #ffd05b; }
    .wrapper .build-your-own .char6 {
      color: #70c9c0; }
    .wrapper .build-your-own .char7 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char8 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char9 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char10 {
      color: #cb9ac6; }
    .wrapper .build-your-own .char11 {
      color: #70c9c0; }
    .wrapper .build-your-own .char12 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char13 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char14 {
      color: #9fc9eb; }
    .wrapper .build-your-own .char1 {
      transform: rotate(-35.64286deg); }
    .wrapper .build-your-own .char2 {
      transform: rotate(-30.28571deg); }
    .wrapper .build-your-own .char3 {
      transform: rotate(-24.92857deg); }
    .wrapper .build-your-own .char4 {
      transform: rotate(-19.57143deg); }
    .wrapper .build-your-own .char5 {
      transform: rotate(-14.21429deg); }
    .wrapper .build-your-own .char6 {
      transform: rotate(-8.85714deg); }
    .wrapper .build-your-own .char7 {
      transform: rotate(-3.5deg); }
    .wrapper .build-your-own .char8 {
      transform: rotate(1.85714deg); }
    .wrapper .build-your-own .char9 {
      transform: rotate(7.21429deg); }
    .wrapper .build-your-own .char10 {
      transform: rotate(12.57143deg); }
    .wrapper .build-your-own .char11 {
      transform: rotate(17.92857deg); }
    .wrapper .build-your-own .char12 {
      transform: rotate(23.28571deg); }
    .wrapper .build-your-own .char13 {
      transform: rotate(28.64286deg); }
    .wrapper .build-your-own .char14 {
      transform: rotate(34deg); }
  .wrapper #hackathon {
    color: #f16667;
    font-size: 9rem;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 10vh; }
  .wrapper form input[type="email"] {
    display: inline-block;
    height: 40px;
    width: 30vw;
    font-family: FiraCode;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid #70c9c0;
    color: #70c9c0; }
  .wrapper form .clear {
    display: inline-block; }
    .wrapper form .clear input[type='submit'] {
      display: inline-block;
      height: 46px;
      width: 200px;
      line-height: 40px;
      font-family: FiraCode;
      font-size: 20px;
      color: #f5f5f5;
      border-radius: 4px;
      border: 2px solid #70c9c0;
      background-color: #70c9c0;
      padding-left: 20px;
      padding-right: 20px; }

svg {
  position: absolute;
  height: 60px;
  width: auto; }

.chip {
  top: 200px;
  left: 50px; }

.cord {
  top: 50vh;
  right: 20px; }

.monitor {
  top: 20px;
  right: 20vw; }

.phone {
  bottom: 50px;
  left: 150px; }

.gate {
  bottom: 80px;
  right: 300px; }

.green {
  fill: #70c9c0; }

.purple {
  fill: #cb9ac6; }

.yellow {
  fill: #ffd05b; }

.orange {
  fill: #f79868; }

.red {
  fill: #f16667; }

.blue {
  fill: #9fc9eb; }

@media screen and (max-width: 800px) {
  body .wrapper .build-your-own {
    font-size: 2rem;
    top: 17vh; }
    body .wrapper .build-your-own .char1 {
      transform: rotate(-25.71429deg); }
    body .wrapper .build-your-own .char2 {
      transform: rotate(-21.42857deg); }
    body .wrapper .build-your-own .char3 {
      transform: rotate(-17.14286deg); }
    body .wrapper .build-your-own .char4 {
      transform: rotate(-12.85714deg); }
    body .wrapper .build-your-own .char5 {
      transform: rotate(-8.57143deg); }
    body .wrapper .build-your-own .char6 {
      transform: rotate(-4.28571deg); }
    body .wrapper .build-your-own .char7 {
      transform: rotate(0deg); }
    body .wrapper .build-your-own .char8 {
      transform: rotate(4.28571deg); }
    body .wrapper .build-your-own .char9 {
      transform: rotate(8.57143deg); }
    body .wrapper .build-your-own .char10 {
      transform: rotate(12.85714deg); }
    body .wrapper .build-your-own .char11 {
      transform: rotate(17.14286deg); }
    body .wrapper .build-your-own .char12 {
      transform: rotate(21.42857deg); }
    body .wrapper .build-your-own .char13 {
      transform: rotate(25.71429deg); }
    body .wrapper .build-your-own .char14 {
      transform: rotate(30deg); }
  body .wrapper #hackathon {
    font-size: 7rem; }
  body .wrapper form input[type="email"] {
    width: 50vw; }
  body .cord {
    top: 75vh; }
  body .chip {
    left: 5px; }
  body svg {
    height: 50px; } }
@media screen and (max-width: 621px) {
  body .logo img {
    width: 70px; }
  body .wrapper .build-your-own {
    font-size: 1.5rem; }
    body .wrapper .build-your-own .char1 {
      transform: rotate(-20.78571deg); }
    body .wrapper .build-your-own .char2 {
      transform: rotate(-17.57143deg); }
    body .wrapper .build-your-own .char3 {
      transform: rotate(-14.35714deg); }
    body .wrapper .build-your-own .char4 {
      transform: rotate(-11.14286deg); }
    body .wrapper .build-your-own .char5 {
      transform: rotate(-7.92857deg); }
    body .wrapper .build-your-own .char6 {
      transform: rotate(-4.71429deg); }
    body .wrapper .build-your-own .char7 {
      transform: rotate(-1.5deg); }
    body .wrapper .build-your-own .char8 {
      transform: rotate(1.71429deg); }
    body .wrapper .build-your-own .char9 {
      transform: rotate(4.92857deg); }
    body .wrapper .build-your-own .char10 {
      transform: rotate(8.14286deg); }
    body .wrapper .build-your-own .char11 {
      transform: rotate(11.35714deg); }
    body .wrapper .build-your-own .char12 {
      transform: rotate(14.57143deg); }
    body .wrapper .build-your-own .char13 {
      transform: rotate(17.78571deg); }
    body .wrapper .build-your-own .char14 {
      transform: rotate(21deg); }
  body .wrapper #hackathon {
    font-size: 5rem; }
  body .wrapper form {
    margin-top: 10px; }
    body .wrapper form input[type="email"] {
      font-size: 16px; }
    body .wrapper form input[type='submit'] {
      font-size: 16px; } }
@media screen and (max-width: 420px) {
  body .wrapper #presents {
    padding-top: 20vh; }
  body .wrapper .build-your-own {
    font-size: 1rem;
    top: 24vh; }
    body .wrapper .build-your-own .char1 {
      transform: rotate(-16.5deg); }
    body .wrapper .build-your-own .char2 {
      transform: rotate(-14deg); }
    body .wrapper .build-your-own .char3 {
      transform: rotate(-11.5deg); }
    body .wrapper .build-your-own .char4 {
      transform: rotate(-9deg); }
    body .wrapper .build-your-own .char5 {
      transform: rotate(-6.5deg); }
    body .wrapper .build-your-own .char6 {
      transform: rotate(-4deg); }
    body .wrapper .build-your-own .char7 {
      transform: rotate(-1.5deg); }
    body .wrapper .build-your-own .char8 {
      transform: rotate(1deg); }
    body .wrapper .build-your-own .char9 {
      transform: rotate(3.5deg); }
    body .wrapper .build-your-own .char10 {
      transform: rotate(6deg); }
    body .wrapper .build-your-own .char11 {
      transform: rotate(8.5deg); }
    body .wrapper .build-your-own .char12 {
      transform: rotate(11deg); }
    body .wrapper .build-your-own .char13 {
      transform: rotate(13.5deg); }
    body .wrapper .build-your-own .char14 {
      transform: rotate(16deg); }
  body .wrapper #hackathon {
    font-size: 4rem; }
  body .wrapper form input[type="email"] {
    width: 90vw; }
  body .wrapper form input[type='submit'] {
    margin-top: 10px; } }
@media screen and (max-width: 360px) {
  body .wrapper #hackathon {
    font-size: 3rem; } }

/*# sourceMappingURL=styles.css.map */
