body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

#logo {
  position: absolute;
  z-index: 100; }
  #logo img {
    width: 80px;
    padding-left: 50px;
    padding-top: 40px; }

#background {
  position: absolute;
  left: -10vw;
  top: -10vh;
  z-index: 1;
  height: 120vh;
  width: 120vw;
  background-color: #f5f5f5; }
  #background #confetti-1,
  #background #confetti-2,
  #background #confetti-3,
  #background #confetti-4 {
    display: none; }
  #background .svg-wrap {
    display: inline-block;
    height: 70px;
    width: 100px; }
  #background svg {
    float: left;
    width: 90px;
    height: 90px; }
  #background .green {
    fill: #70c9c0; }
  #background .blue {
    fill: #9fc9eb; }
  #background .yellow {
    fill: #ffd05b; }
  #background .purple {
    fill: #cb9ac6; }
  #background .orange {
    fill: #f79868; }
  #background .red {
    fill: #f16667; }

#wrapper {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  font-family: "Avenir", sans-serif;
  z-index: 9;
  position: relative; }
  #wrapper #presents-wrapper {
    padding-top: 15vh;
    font-size: 1.5rem;
    font-weight: 400; }
    #wrapper #presents-wrapper #presents #wild {
      color: #9fc9eb; }
    #wrapper #presents-wrapper #presents #hacks {
      color: #cb9ac6; }
    #wrapper #presents-wrapper #presents #year {
      color: #ffd05b; }
    #wrapper #presents-wrapper #presents #pres {
      color: #70c9c0; }
  #wrapper .build-your-own {
    position: absolute;
    left: 49%;
    top: 15vh;
    font-size: 3rem;
    font-family: "FiraCode-Regular", monospace; }
    #wrapper .build-your-own span {
      height: 400px;
      position: absolute;
      width: 20px;
      left: 0px;
      top: 50px;
      transform-origin: bottom center; }
    #wrapper .build-your-own #char1 {
      color: #ffd05b; }
    #wrapper .build-your-own #char6 {
      color: #70c9c0; }
    #wrapper .build-your-own #char2 {
      color: #ffd05b; }
    #wrapper .build-your-own #char6 {
      color: #70c9c0; }
    #wrapper .build-your-own #char3 {
      color: #ffd05b; }
    #wrapper .build-your-own #char6 {
      color: #70c9c0; }
    #wrapper .build-your-own #char4 {
      color: #ffd05b; }
    #wrapper .build-your-own #char6 {
      color: #70c9c0; }
    #wrapper .build-your-own #char5 {
      color: #ffd05b; }
    #wrapper .build-your-own #char6 {
      color: #70c9c0; }
    #wrapper .build-your-own #char7 {
      color: #cb9ac6; }
    #wrapper .build-your-own #char11 {
      color: #70c9c0; }
    #wrapper .build-your-own #char8 {
      color: #cb9ac6; }
    #wrapper .build-your-own #char11 {
      color: #70c9c0; }
    #wrapper .build-your-own #char9 {
      color: #cb9ac6; }
    #wrapper .build-your-own #char11 {
      color: #70c9c0; }
    #wrapper .build-your-own #char10 {
      color: #cb9ac6; }
    #wrapper .build-your-own #char11 {
      color: #70c9c0; }
    #wrapper .build-your-own #char12 {
      color: #9fc9eb; }
    #wrapper .build-your-own #char13 {
      color: #9fc9eb; }
    #wrapper .build-your-own #char14 {
      color: #9fc9eb; }
    #wrapper .build-your-own #char1 {
      transform: rotate(-35.64286deg); }
    #wrapper .build-your-own #char2 {
      transform: rotate(-30.28571deg); }
    #wrapper .build-your-own #char3 {
      transform: rotate(-24.92857deg); }
    #wrapper .build-your-own #char4 {
      transform: rotate(-19.57143deg); }
    #wrapper .build-your-own #char5 {
      transform: rotate(-14.21429deg); }
    #wrapper .build-your-own #char6 {
      transform: rotate(-8.85714deg); }
    #wrapper .build-your-own #char7 {
      transform: rotate(-3.5deg); }
    #wrapper .build-your-own #char8 {
      transform: rotate(1.85714deg); }
    #wrapper .build-your-own #char9 {
      transform: rotate(7.21429deg); }
    #wrapper .build-your-own #char10 {
      transform: rotate(12.57143deg); }
    #wrapper .build-your-own #char11 {
      transform: rotate(17.92857deg); }
    #wrapper .build-your-own #char12 {
      transform: rotate(23.28571deg); }
    #wrapper .build-your-own #char13 {
      transform: rotate(28.64286deg); }
    #wrapper .build-your-own #char14 {
      transform: rotate(34deg); }
  #wrapper #hackathon-wrapper {
    margin-bottom: 0px;
    margin-top: 20vh; }
    #wrapper #hackathon-wrapper #hackathon {
      color: #f16667;
      font-size: 9rem;
      font-weight: 900; }
  #wrapper form input[type='email'] {
    height: 40px;
    width: 30vw;
    font-family: FiraCode;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid #70c9c0;
    color: #70c9c0; }
  #wrapper form .clear {
    display: inline-block; }
    #wrapper form .clear input[type='submit'] {
      height: 46px;
      line-height: 40px;
      font-family: FiraCode;
      font-size: 20px;
      color: #f5f5f5;
      border-radius: 4px;
      border: 2px solid #70c9c0;
      background-color: #70c9c0;
      padding-left: 20px;
      padding-right: 20px; }
    #wrapper form .clear input[type='submit']:hover {
      cursor: pointer; }

.green {
  fill: #70c9c0; }

.purple {
  fill: #cb9ac6; }

.yellow {
  fill: #ffd05b; }

.orange {
  fill: #f79868; }

.red {
  fill: #f16667; }

.blue {
  fill: #9fc9eb; }

.dummy {
  display: none; }

@media screen and (max-width: 800px) {
  body #wrapper .build-your-own {
    font-size: 2.5rem;
    top: 17vh; }
    body #wrapper .build-your-own #char1 {
      transform: rotate(-25.71429deg); }
    body #wrapper .build-your-own #char2 {
      transform: rotate(-21.42857deg); }
    body #wrapper .build-your-own #char3 {
      transform: rotate(-17.14286deg); }
    body #wrapper .build-your-own #char4 {
      transform: rotate(-12.85714deg); }
    body #wrapper .build-your-own #char5 {
      transform: rotate(-8.57143deg); }
    body #wrapper .build-your-own #char6 {
      transform: rotate(-4.28571deg); }
    body #wrapper .build-your-own #char7 {
      transform: rotate(0deg); }
    body #wrapper .build-your-own #char8 {
      transform: rotate(4.28571deg); }
    body #wrapper .build-your-own #char9 {
      transform: rotate(8.57143deg); }
    body #wrapper .build-your-own #char10 {
      transform: rotate(12.85714deg); }
    body #wrapper .build-your-own #char11 {
      transform: rotate(17.14286deg); }
    body #wrapper .build-your-own #char12 {
      transform: rotate(21.42857deg); }
    body #wrapper .build-your-own #char13 {
      transform: rotate(25.71429deg); }
    body #wrapper .build-your-own #char14 {
      transform: rotate(30deg); }
  body #wrapper #hackathon-wrapper {
    margin-top: 18vh; }
    body #wrapper #hackathon-wrapper #hackathon {
      font-size: 7rem; }
  body #wrapper form input[type='email'] {
    width: 50vw; } }
@media screen and (max-width: 621px) {
  body .logo img {
    width: 70px; }
  body #wrapper .build-your-own {
    font-size: 2rem; }
    body #wrapper .build-your-own #char1 {
      transform: rotate(-20.78571deg); }
    body #wrapper .build-your-own #char2 {
      transform: rotate(-17.57143deg); }
    body #wrapper .build-your-own #char3 {
      transform: rotate(-14.35714deg); }
    body #wrapper .build-your-own #char4 {
      transform: rotate(-11.14286deg); }
    body #wrapper .build-your-own #char5 {
      transform: rotate(-7.92857deg); }
    body #wrapper .build-your-own #char6 {
      transform: rotate(-4.71429deg); }
    body #wrapper .build-your-own #char7 {
      transform: rotate(-1.5deg); }
    body #wrapper .build-your-own #char8 {
      transform: rotate(1.71429deg); }
    body #wrapper .build-your-own #char9 {
      transform: rotate(4.92857deg); }
    body #wrapper .build-your-own #char10 {
      transform: rotate(8.14286deg); }
    body #wrapper .build-your-own #char11 {
      transform: rotate(11.35714deg); }
    body #wrapper .build-your-own #char12 {
      transform: rotate(14.57143deg); }
    body #wrapper .build-your-own #char13 {
      transform: rotate(17.78571deg); }
    body #wrapper .build-your-own #char14 {
      transform: rotate(21deg); }
  body #wrapper #hackathon-wrapper {
    margin-top: 15vh; }
    body #wrapper #hackathon-wrapper #hackathon {
      font-size: 5rem; }
  body #wrapper form {
    margin-top: 10px; }
    body #wrapper form input[type='email'] {
      font-size: 16px; }
    body #wrapper form input[type='submit'] {
      font-size: 16px; } }
@media screen and (max-width: 420px) {
  body #wrapper #presents {
    padding-top: 20vh; }
  body #wrapper .build-your-own {
    font-size: 1.5rem;
    top: 24vh; }
    body #wrapper .build-your-own #char1 {
      transform: rotate(-16.5deg); }
    body #wrapper .build-your-own #char2 {
      transform: rotate(-14deg); }
    body #wrapper .build-your-own #char3 {
      transform: rotate(-11.5deg); }
    body #wrapper .build-your-own #char4 {
      transform: rotate(-9deg); }
    body #wrapper .build-your-own #char5 {
      transform: rotate(-6.5deg); }
    body #wrapper .build-your-own #char6 {
      transform: rotate(-4deg); }
    body #wrapper .build-your-own #char7 {
      transform: rotate(-1.5deg); }
    body #wrapper .build-your-own #char8 {
      transform: rotate(1deg); }
    body #wrapper .build-your-own #char9 {
      transform: rotate(3.5deg); }
    body #wrapper .build-your-own #char10 {
      transform: rotate(6deg); }
    body #wrapper .build-your-own #char11 {
      transform: rotate(8.5deg); }
    body #wrapper .build-your-own #char12 {
      transform: rotate(11deg); }
    body #wrapper .build-your-own #char13 {
      transform: rotate(13.5deg); }
    body #wrapper .build-your-own #char14 {
      transform: rotate(16deg); }
  body #wrapper #hackathon-wrapper #hackathon {
    font-size: 4rem; }
  body #wrapper form input[type='email'] {
    width: 90vw; }
  body #wrapper form input[type='submit'] {
    margin-top: 10px; } }
@media screen and (max-width: 360px) {
  body #wrapper #hackathon-wrapper #hackathon {
    font-size: 3rem; } }

/*# sourceMappingURL=styles.css.map */
