@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 35 Light Oblique.ttf')
	font-weight: 100
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 35 Light.ttf')
	font-weight: 100
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 45 Book Oblique.ttf')
	font-weight: 300
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 45 Book.ttf')
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 55 Oblique.ttf')
	font-weight: 400
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 55 Roman.ttf')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 65 Medium Oblique.ttf')
	font-weight: 500
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 65 Medium.ttf')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 85 Heavy.ttf')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 85 Heavy Oblique.ttf')
	font-weight: 700
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 95 Black Oblique.ttf')
	font-weight: 900
	font-style: italic

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir LT 95 Black.ttf')
	font-weight: 900
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Regular.otf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Light.otf')
	font-weight: 100
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Medium.otf')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Bold.otf')
	font-weight: 700
	font-style: normal