$num-letters: 14
$angle-span: 75deg
$angle-offset: -41deg

=rotate-text($i)
	transform: rotate($angle-span / $num-letters * $i + $angle-offset)

body 
	padding: 0
	margin: 0

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir.ttf')

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Regular.otf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Light.otf')
	font-weight: 100
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Medium.otf')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Bold.otf')
	font-weight: 700
	font-style: normal

$primary-font-stack: 'Avenir', sans-serif
$secondary-font-stack: 'FiraCode-Regular', monospace

$green: #70c9c0
$blue: #9fc9eb
$purple: #cb9ac6
$yellow: #ffd05b
$orange: #f79868
$red: #f16667
$cosmic-latte: #fff8e7
$whitesmoke: #f5f5f5

.logo
	position: absolute

	img
		width: 100px
		padding-left: 50px
		padding-top: 40px

.wrapper 
	width: 100vw
	height: 100vh
	background-color: $whitesmoke
	text-align: center
	overflow: hidden
	font-family: $primary-font-stack
	z-index: 9

	#presents
		padding-top: 15vh
		font-size: 1.5rem
		font-weight: 700

		#wild
			color: $blue
		#hacks
			color: $purple
		#year
			color: $yellow
		#pres
			color: $green

	.build-your-own
		position: absolute
		left: 49%
		top: 15vh
		font-size: 3rem
		font-family: $secondary-font-stack

		span
			height: 400px
			position: absolute
			width: 20px
			left: 0px
			top: 50px
			transform-origin: bottom center	

		@for $i from 1 through 5
			.char#{$i}
				color: $yellow
			.char6
				color: $green

		@for $i from 7 through 10
			.char#{$i}
				color: $purple
			.char11
				color: $green

		@for $i from 12 through 14
			.char#{$i}
				color: $blue

		@for $i from 1 through $num-letters
			.char#{$i} 
				+rotate-text($i)

	#hackathon
		color: $red
		font-size: 9rem
		font-weight: 700
		margin-bottom: 0px
		margin-top: 10vh

	form
		input 
			height: 40px
			width: 30vw
			font-family: FiraCode
			font-size: 20px
			line-height: 40px
			padding-left: 10px
			border-radius: 4px
			border: 2px solid $green
			color: $green

		button
			height: 46px
			line-height: 40px
			font-family: FiraCode
			font-size: 20px	
			color: $whitesmoke
			border-radius: 4px
			border: 2px solid $green
			background-color: $green
			padding-left: 20px
			padding-right: 20px

		button:hover
			cursor: pointer

svg
	position: absolute
	height: 60px
	width: auto

.chip
	top: 200px
	left: 50px

.cord
	top: 50vh
	right: 20px

.monitor
	top: 20px
	right: 20vw

.phone
	bottom: 50px
	left: 150px

.gate
	bottom: 80px
	right: 300px

.green
	fill: $green
.purple
	fill: $purple
.yellow
	fill: $yellow
.orange
	fill: $orange
.red
	fill: $red
.blue
	fill: $blue
