$num-letters: 14
$angle-span: 75deg
$angle-offset: -39.5deg

=rotate-text($i)
	transform: rotate($angle-span / $num-letters * $i + $angle-offset)

body 
	padding: 0
	margin: 0

@font-face
	font-family: 'Avenir'
	src: url('../../fonts/Avenir.otf')

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Regular.otf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Light.otf')
	font-weight: 100
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Medium.otf')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'FiraCode'
	src: url('../../fonts/FiraCode-Bold.otf')
	font-weight: 700
	font-style: normal

$primary-font-stack: 'Avenir', sans-serif
$secondary-font-stack: 'FiraCode-Regular', monospace

$green: #70c9c0
$blue: #9fc9eb
$purple: #cb9ac6
$yellow: #ffd05b
$orange: #f79868
$red: #f16667
$cosmic-latte: #fff8e7



.wrapper 
	width: 100vw
	height: 100vh
	background-color: $cosmic-latte
	text-align: center
	font-family: Avenir
	z-index: 1

	#presents
		padding-top: 25vh
		font-size: 20px
		font-family: $primary-font-stack

		
		#wildhacks
			font-size: 0px

			#wild
				color: $blue
				font-size: 20px
			#hacks
				color: $purple
				font-size: 20px
		#blank
			color: $cosmic-latte
			font-size: 0px
		#year
			color: $yellow
		#pres
			color: $green

		

	.build-your-own
		position: absolute
		left: 50%
		top: 26vh
		font-size: 38px 
		font-family: $secondary-font-stack
		font-weight: 900

		span
			height: 300px
			position: absolute
			width: 20px
			left: 0px
			top: 50px
			transform-origin: bottom center	

		@for $i from 1 through 5
			.char#{$i}
				color: $yellow
			.char6
				color: $green

		@for $i from 7 through 10
			.char#{$i}
				color: $purple
			.char11
				color: $green

		@for $i from 12 through 14
			.char#{$i}
				color: $blue

		@for $i from 1 through $num-letters
			.char#{$i} 
				+rotate-text($i)


	#hackathon
		color: $red
		padding-top: 3vh
		font-size: 6.5em
		font-weight: 900

		

.backgroundimage
	background-color: $cosmic-latte
	z-index: -1

	#redsquare
		height: 42vh
		transform: rotate(47deg)
		position: absolute
		left: 17%
		top: 26%	

	#orangesquare
		height: 42vh
		transform: rotate(47deg)
		position: absolute
		left: 28%
		top: 65%


	#bluesquare
		height: 42vh
		transform: rotate(47deg)
		position: absolute
		left: 72%
		top: 8%

	#bluecord
		height: 42vh
		transform: rotate(-13deg)
		position: absolute
		left: 15%
		top: 57%

	#orangecord
		height: 42vh
		position: absolute
		transform: rotate(-110deg)
		left: 60%
		top: 2%
	
	#bluemanylegs
		height: 42vh
		position: absolute
		transform: rotate(50deg)
		left: 58%
		top: 68%

	#purplemanylegs
		height: 42vh
		position: absolute
		transform: rotate(150deg)
		left: 28%
		top: 5%

	#redphone
		height: 33vh
		position: absolute
		transform: rotate(-20deg)
		left: 68%
		top: 63%

	#redmonitor
		height: 33vh
		position: absolute
		transform: rotate(-10deg)
		left: 40%
		top: 78%
