$num-letters: 14
$angle-span: 75deg
$angle-offset: -41deg

// Angle breakpoint
$angle-span-800: 60deg
$angle-offset-800: -32deg

$angle-span-621: 45deg
$angle-offset-621: -24deg

$angle-span-420: 35deg
$angle-offset-420: -19deg

$confetti-size: 90px
$confetti-size-800: 120px
$confetti-size-621: 60px
$confetti-size-420: 80px

=rotate-text($i, $angle, $offset)
	transform: rotate($angle / $num-letters * $i + $offset)

body
	padding: 0
	margin: 0

$primary-font-stack: 'Avenir', sans-serif
$secondary-font-stack: 'FiraCode-Regular', monospace

$green: #70c9c0
$blue: #9fc9eb
$purple: #cb9ac6
$yellow: #ffd05b
$orange: #f79868
$red: #f16667
$cosmic-latte: #fff8e7
$whitesmoke: #f5f5f5

#logo
	position: absolute
	z-index: 100

	img
		width: 80px
		padding-left: 50px
		padding-top: 40px

#background
	position: absolute
	left: -5vw
	top: -5vh
	z-index: 1
	height: 105vh
	width: 130vw
	overflow-y: hidden
	background-color: $whitesmoke

	#confetti-1,
	#confetti-2,
	#confetti-3,
	#confetti-4
		display: none

	.svg-wrap
		display: inline-block
		height: $confetti-size - 10
		width: $confetti-size + 10

	svg
		float: left
		width: $confetti-size
		height: $confetti-size

	.green
		fill: $green

	.blue
		fill: $blue

	.yellow
		fill: $yellow

	.purple
		fill: $purple

	.orange
		fill: $orange

	.red
		fill: $red

#wrapper
	z-index: 100
	text-align: center
	font-family: $primary-font-stack
	position: relative

	#presents-wrapper
		padding-top: 15vh
		font-size: 1.5rem
		font-weight: 400

		#presents
			#wild
				color: $blue
			#hacks
				color: $purple
			#year
				color: $yellow
			#pres
				color: $green

	#dummy
		position: relative
		height: 100px
		width: 40vw
		margin: 0 auto

	.build-your-own
		position: absolute
		left: 49%
		top: 15vh
		font-size: 3rem
		font-family: $secondary-font-stack

		span
			height: 400px
			position: absolute
			width: 20px
			left: 0px
			top: 50px
			transform-origin: bottom center

		@for $i from 1 through 5
			#char#{$i}
				color: $yellow
			#char6
				color: $green

		@for $i from 7 through 10
			#char#{$i}
				color: $purple
			#char11
				color: $green

		@for $i from 12 through 14
			#char#{$i}
				color: $blue

		@for $i from 1 through $num-letters
			#char#{$i}
				+rotate-text($i, $angle-span, $angle-offset)

	#hackathon-wrapper
		margin-bottom: 0px
		margin-top: 0px

		#hackathon
			color: $red
			font-size: 9rem
			font-weight: 900

	form
		input[type='email']
			height: 40px
			width: 30vw
			font-family: FiraCode
			font-size: 20px
			line-height: 40px
			padding-left: 10px
			border-radius: 4px
			border: 2px solid $green
			color: $green
		.clear
			display: inline-block
			input[type='submit']
				height: 46px
				line-height: 40px
				font-family: FiraCode
				font-size: 20px
				color: $whitesmoke
				border-radius: 4px
				border: 2px solid $green
				background-color: $green
				padding-left: 20px
				padding-right: 20px

			input[type='submit']:hover
				cursor: pointer


@media screen and (max-width: 800px)
	body
		#background
			.svg-wrap
				display: inline-block
				height: $confetti-size-800 - 10
				width: $confetti-size-800 + 10

			svg
				float: left
				width: $confetti-size-800
				height: $confetti-size-800

		#wrapper
			#presents-wrapper
				padding-top: 20vh
				margin-top: 5vh

				#dummy
					width: 45vw

			.build-your-own
				font-size: 2.5rem
				top: 17vh

				span
					height: 400px
					position: absolute
					width: 20px
					left: 0px
					top: 100px

				@for $i from 1 through $num-letters
					#char#{$i}
						+rotate-text($i, $angle-span-800, $angle-offset-800)

			#hackathon-wrapper
				// margin-top: 18vh
				#hackathon
					font-size: 7rem
			form
				input[type='email']
					width: 50vw

@media screen and (max-width: 621px)
	body
		#background
			.svg-wrap
				display: inline-block
				height: $confetti-size-621
				width: $confetti-size-621 - 5

			svg
				width: $confetti-size-621
				height: $confetti-size-621

		.logo
			img
				width: 70px

		#wrapper
			#dummy
				height: 100px

			.build-your-own
				font-size: 2rem

				@for $i from 1 through $num-letters
					#char#{$i}
						+rotate-text($i, $angle-span-621, $angle-offset-621)

			#hackathon-wrapper
				// margin-top: 15vh
				#hackathon
					font-size: 4rem

			form
				margin-top: 10px

				input[type='email']
					font-size: 16px
				input[type='submit']
					font-size: 16px

@media screen and (max-width: 420px)
	body
		#background
			.svg-wrap
				display: inline-block
				height: $confetti-size-420 + 10
				width: $confetti-size-420

			svg
				float: left
				width: $confetti-size-420
				height: $confetti-size-420

		#wrapper
			#dummy
				height: 70px
			#presents-wrapper
				padding-top: 20vh
			.build-your-own
				font-size: 1.5rem
				top: 15vh
				@for $i from 1 through $num-letters
					#char#{$i}
						+rotate-text($i, $angle-span-420, $angle-offset-420)

			#hackathon-wrapper
				#hackathon
					font-size: 4rem

			#mc_embed_signup
				form
					#mce-EMAIL
						width: 90vw
						margin-bottom: 20px
					#mc-embedded-subscribe
						margin-top: 10px
						margin-bottom: 20px


@media screen and (max-width: 360px)
	body
		#wrapper
			#dummy
				height: 40px
			.build-your-own
				top: 6vh
			#hackathon-wrapper
				#hackathon
					font-size: 3rem
